李云道/week09/week09-智能穿衣助手.yml
app:
  description: ''
  icon: ghost
  icon_background: '#FFEAD5'
  mode: workflow
  name: week09-智能穿衣助手
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1761199286006-source-1761199544595-target
      source: '1761199286006'
      sourceHandle: source
      target: '1761199544595'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1761199286006-source-1761200012296-target
      source: '1761199286006'
      sourceHandle: source
      target: '1761200012296'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1761200338664--1761200416639-target
      selected: false
      source: '1761200338664'
      sourceHandle: source
      target: '1761200416639'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1761199544595-source-1761200338664-target
      source: '1761199544595'
      sourceHandle: source
      target: '1761200338664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: template-transform
      id: 1761200012296-source-1761200338664-target
      source: '1761200012296'
      sourceHandle: source
      target: '1761200338664'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 天气
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: weather
        - label: 温度(℃)
          max_length: 48
          options: []
          required: true
          type: number
          variable: temperature
        - label: 湿度(%)
          max_length: 5
          options: []
          required: true
          type: number
          variable: humidity
      height: 142
      id: '1761199286006'
      position:
        x: 30
        y: 271
      positionAbsolute:
        x: 30
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-plus
          provider: tongyi
        prompt_template:
        - id: 39aa11a9-0819-4b0b-ae70-42931c9acee3
          role: system
          text: 你是穿搭助理
        - id: 93885c13-972a-4dd6-99e1-8dd4fb82c34e
          role: user
          text: '结合天气、温度、湿度，给出3-5套穿衣建议。

            天气：{{#1761199286006.weather#}}

            温度：{{#1761199286006.temperature#}}

            湿度：{{#1761199286006.humidity#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1761199544595'
      position:
        x: 334
        y: 271
      positionAbsolute:
        x: 334
        y: 271
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(w: str, t: float, h: float) -> dict:\n    return {\n   \
          \     \"result\": f\"天气:{w},温度:{t}℃,湿度:{h}%\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1761199286006'
          - weather
          variable: w
        - value_selector:
          - '1761199286006'
          - temperature
          variable: t
        - value_selector:
          - '1761199286006'
          - humidity
          variable: h
      height: 54
      id: '1761200012296'
      position:
        x: 334
        y: 409
      positionAbsolute:
        x: 334
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "## 用户输入\r\n{{ input }}\r\n\r\n## 穿搭建议\r\n{{ text }}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1761200012296'
          - result
          variable: input
        - value_selector:
          - '1761199544595'
          - text
          variable: text
      height: 54
      id: '1761200338664'
      position:
        x: 638
        y: 271
      positionAbsolute:
        x: 638
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1761200338664'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1761200416639'
      position:
        x: 942
        y: 271
      positionAbsolute:
        x: 942
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 4.965763964677421
      y: 67.39869595213395
      zoom: 1.0610015965572788
