陈瑜婷/week09/天气穿搭助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 天气穿搭助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1761115494080-source-1761115729372-target
      source: '1761115494080'
      sourceHandle: source
      target: '1761115729372'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1761115729372-source-1761115877684-target
      source: '1761115729372'
      sourceHandle: source
      target: '1761115877684'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 天气
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: weather
        - default: ''
          hint: ''
          label: temperature
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: temp
        - default: ''
          hint: ''
          label: 湿度
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: humidity
      height: 140
      id: '1761115494080'
      position:
        x: 80
        y: 283
      positionAbsolute:
        x: 80
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-vl-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: f6c03116-82e1-433f-a5d0-1d313468281a
          role: system
          text: 你是穿搭专家，根据用户提供的天气提供穿搭建议
        - role: user
          text: 天气:{{#1761115494080.weather#}} 温度:{{#1761115494080.temp#}} 湿度:{{#1761115494080.humidity#}}
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1761115729372'
      position:
        x: 382
        y: 283
      positionAbsolute:
        x: 382
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1761115729372'
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1761115877684'
      position:
        x: 684
        y: 283
      positionAbsolute:
        x: 684
        y: 283
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 49.206796546620126
      y: 60.82996580216741
      zoom: 0.8705505632961241
  rag_pipeline_variables: []
