邵丽珠/week09/作业2-穿衣指南-demo.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 作业2-穿衣指南-demo
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.8@d5cd0c65755eb14f1f35ec186e21786691f8d24d8aa7b94a8bd41992a95ca12a
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: ''
    id: 6c37189f-5e50-4df9-a1d1-d7a41f703690
    name: shidu
    selector:
    - conversation
    - shidu
    value: ''
    value_type: string
  - description: 摄氏度
    id: b2b86ec3-1cd8-4fae-b7b9-6f9d78fe8802
    name: wendu
    selector:
    - conversation
    - wendu
    value: 0
    value_type: integer
  - description: ''
    id: 6ed91c1c-1c61-4b51-b06c-abb23951345a
    name: tianqi
    selector:
    - conversation
    - tianqi
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1761116444672-llm
      source: '1761116444672'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1761116444672'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 26a11b89-5dd1-42a7-a4cb-b04ab7a0cd76
          role: system
          text: 你是个穿衣指南专家，请根据天气情况，温度，摄氏度，湿度，给出穿衣建议
        - id: 7ae44c7a-d995-447a-87c6-ee1e467b2e9b
          role: user
          text: '天气：{{#conversation.tianqi#}}

            湿度：{{#conversation.shidu#}}

            湿度{{#conversation.wendu#}}

            怎么穿衣？'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 179.8772978944528
      y: 46.78876665128678
      zoom: 0.7487454439703602
  rag_pipeline_variables: []
