邵丽珠/week09/作业1-工作流-demo.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 作业1-工作流-demo
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: end
      id: 1761115488458-source-1761115498174-target
      source: '1761115488458'
      sourceHandle: source
      target: '1761115498174'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 名称
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: name
        - default: ''
          hint: ''
          label: 个人简介
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: desc
        - default: ''
          hint: ''
          label: 性别
          max_length: 48
          options:
          - 男
          - 女
          placeholder: ''
          required: true
          type: select
          variable: sex
        - default: ''
          hint: ''
          label: 年龄
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          default: ''
          hint: ''
          label: 文件
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: file
          variable: file
      height: 192
      id: '1761115488458'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1761115488458'
          - name
          value_type: string
          variable: name
        - value_selector:
          - '1761115488458'
          - age
          value_type: number
          variable: age
        selected: false
        title: 结束
        type: end
      height: 114
      id: '1761115498174'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 31
      y: -57
      zoom: 1
  rag_pipeline_variables: []
