阮鸿发/week09/天气穿衣助手.yml
app:
  description: ''
  icon: whale
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: 天气穿衣助手
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 高德key
    id: bf927b65-3fec-400c-bb46-12f894027a8c
    name: AMAP_MAPS_API_KEY
    selector:
    - env
    - AMAP_MAPS_API_KEY
    value: 97c08001c7edcebdba531005011abbdf
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 我是您的天气穿衣助手，请告诉我您想查询的地点及时间
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - ''
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: agent
      id: 1760969572101-source-1760969644908-target
      selected: false
      source: '1760969572101'
      sourceHandle: source
      target: '1760969644908'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: template-transform
      id: 1760969644908-source-1760970358841-target
      selected: false
      source: '1760969644908'
      sourceHandle: source
      target: '1760970358841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: if-else
      id: 1760970358841-source-1760976328627-target
      source: '1760970358841'
      sourceHandle: source
      target: '1760976328627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1760976328627-true-17609757531010-target
      source: '1760976328627'
      sourceHandle: 'true'
      target: '17609757531010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1760976328627-false-17609757673560-target
      source: '1760976328627'
      sourceHandle: 'false'
      target: '17609757673560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17609757531010-source-1760976603478-target
      source: '17609757531010'
      sourceHandle: source
      target: '1760976603478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17609757673560-source-1760976603478-target
      source: '17609757673560'
      sourceHandle: source
      target: '1760976603478'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1760969572101'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: ''
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: true
          mcp_servers_config:
            type: constant
            value: "{\n  \"mcpServers\": {\n    \"amap-amap-sse\": {\n      \"url\"\
              : \"https://mcp.amap.com/sse?key={{#env.AMAP_MAPS_API_KEY#}}\"\n   \
              \ }\n  }\n}"
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: qwen3-235b-a22b
              model_type: llm
              provider: langgenius/tongyi/tongyi
              type: model-selector
          query:
            type: constant
            value: "{{#sys.query#}}\n           \n\n\n\n\n"
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              schemas:
              - auto_generate: null
                default: '%Y-%m-%d %H:%M:%S'
                form: form
                human_description:
                  en_US: Time format in strftime standard.
                  ja_JP: Time format in strftime standard.
                  pt_BR: Time format in strftime standard.
                  zh_Hans: strftime 标准的时间格式。
                label:
                  en_US: Format
                  ja_JP: Format
                  pt_BR: Format
                  zh_Hans: 格式
                llm_description: null
                max: null
                min: null
                name: format
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: UTC
                form: form
                human_description:
                  en_US: Timezone
                  ja_JP: Timezone
                  pt_BR: Timezone
                  zh_Hans: 时区
                label:
                  en_US: Timezone
                  ja_JP: Timezone
                  pt_BR: Timezone
                  zh_Hans: 时区
                llm_description: null
                max: null
                min: null
                name: timezone
                options:
                - icon: null
                  label:
                    en_US: UTC
                    ja_JP: UTC
                    pt_BR: UTC
                    zh_Hans: UTC
                  value: UTC
                - icon: null
                  label:
                    en_US: America/New_York
                    ja_JP: America/New_York
                    pt_BR: America/New_York
                    zh_Hans: 美洲/纽约
                  value: America/New_York
                - icon: null
                  label:
                    en_US: America/Los_Angeles
                    ja_JP: America/Los_Angeles
                    pt_BR: America/Los_Angeles
                    zh_Hans: 美洲/洛杉矶
                  value: America/Los_Angeles
                - icon: null
                  label:
                    en_US: America/Chicago
                    ja_JP: America/Chicago
                    pt_BR: America/Chicago
                    zh_Hans: 美洲/芝加哥
                  value: America/Chicago
                - icon: null
                  label:
                    en_US: America/Sao_Paulo
                    ja_JP: America/Sao_Paulo
                    pt_BR: América/São Paulo
                    zh_Hans: 美洲/圣保罗
                  value: America/Sao_Paulo
                - icon: null
                  label:
                    en_US: Asia/Shanghai
                    ja_JP: Asia/Shanghai
                    pt_BR: Asia/Shanghai
                    zh_Hans: 亚洲/上海
                  value: Asia/Shanghai
                - icon: null
                  label:
                    en_US: Asia/Ho_Chi_Minh
                    ja_JP: Asia/Ho_Chi_Minh
                    pt_BR: Ásia/Ho Chi Minh
                    zh_Hans: 亚洲/胡志明市
                  value: Asia/Ho_Chi_Minh
                - icon: null
                  label:
                    en_US: Asia/Tokyo
                    ja_JP: Asia/Tokyo
                    pt_BR: Asia/Tokyo
                    zh_Hans: 亚洲/东京
                  value: Asia/Tokyo
                - icon: null
                  label:
                    en_US: Asia/Dubai
                    ja_JP: Asia/Dubai
                    pt_BR: Asia/Dubai
                    zh_Hans: 亚洲/迪拜
                  value: Asia/Dubai
                - icon: null
                  label:
                    en_US: Asia/Kolkata
                    ja_JP: Asia/Kolkata
                    pt_BR: Asia/Kolkata
                    zh_Hans: 亚洲/加尔各答
                  value: Asia/Kolkata
                - icon: null
                  label:
                    en_US: Asia/Seoul
                    ja_JP: Asia/Seoul
                    pt_BR: Asia/Seoul
                    zh_Hans: 亚洲/首尔
                  value: Asia/Seoul
                - icon: null
                  label:
                    en_US: Asia/Singapore
                    ja_JP: Asia/Singapore
                    pt_BR: Asia/Singapore
                    zh_Hans: 亚洲/新加坡
                  value: Asia/Singapore
                - icon: null
                  label:
                    en_US: Europe/London
                    ja_JP: Europe/London
                    pt_BR: Europe/London
                    zh_Hans: 欧洲/伦敦
                  value: Europe/London
                - icon: null
                  label:
                    en_US: Europe/Berlin
                    ja_JP: Europe/Berlin
                    pt_BR: Europe/Berlin
                    zh_Hans: 欧洲/柏林
                  value: Europe/Berlin
                - icon: null
                  label:
                    en_US: Europe/Moscow
                    ja_JP: Europe/Moscow
                    pt_BR: Europe/Moscow
                    zh_Hans: 欧洲/莫斯科
                  value: Europe/Moscow
                - icon: null
                  label:
                    en_US: Australia/Sydney
                    ja_JP: Australia/Sydney
                    pt_BR: Australia/Sydney
                    zh_Hans: 澳大利亚/悉尼
                  value: Australia/Sydney
                - icon: null
                  label:
                    en_US: Pacific/Auckland
                    ja_JP: Pacific/Auckland
                    pt_BR: Pacific/Auckland
                    zh_Hans: 太平洋/奥克兰
                  value: Pacific/Auckland
                - icon: null
                  label:
                    en_US: Africa/Cairo
                    ja_JP: Africa/Cairo
                    pt_BR: Africa/Cairo
                    zh_Hans: 非洲/开罗
                  value: Africa/Cairo
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: select
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: 天气预报查询。
              parameters:
                city:
                  auto: 1
                  value: null
              provider_name: langgenius/gaode/gaode
              provider_show_name: langgenius/gaode/gaode
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Target city for weather forecast query.
                  ja_JP: Target city for weather forecast query.
                  pt_BR: Cidade de destino para consulta de previsão do tempo.
                  zh_Hans: 天气预报查询的目标城市。
                label:
                  en_US: city
                  ja_JP: city
                  pt_BR: cidade
                  zh_Hans: 城市
                llm_description: If you don't know you can extract the city name from
                  the question or you can reply：Please tell me your city. You have
                  to extract the Chinese city name from the question.
                max: null
                min: null
                name: city
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: 天气预报查询。
              tool_label: 天气预报
              tool_name: gaode_weather
              type: builtin
        agent_strategy_label: ReAct (支持 MCP 工具)
        agent_strategy_name: mcp_sse_ReAct
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: null
          version: 0.0.1
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 195
      id: '1760969644908'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: '{{ arg1 }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1760969644908'
          - json
          value_type: array[object]
          variable: arg1
      height: 52
      id: '1760970358841'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1760970358841'
          - output
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-vl-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 3376cf3f-eda9-46da-8af1-6db6d8f38fc5
          role: system
          text: 根据{{#context#}}当中的天气信息或行程信息
        - id: 4d8122f3-09db-4db7-95c2-8626bd346e6a
          role: user
          text: 给出合理的穿衣建议。
        selected: false
        title: LLM (2)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17609757531010'
      position:
        x: 1390.7168320565427
        y: 245.32157901753078
      positionAbsolute:
        x: 1390.7168320565427
        y: 245.32157901753078
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1760970358841'
          - output
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5-vl-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 3376cf3f-eda9-46da-8af1-6db6d8f38fc5
          role: system
          text: 根据{{#context#}}当中的天气信息或行程信息
        - id: 20b482dc-0444-4a99-bab3-2f7657a1d0da
          role: user
          text: 给出天气预报。
        selected: false
        title: LLM (1)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17609757673560'
      position:
        x: 1390.7168320565427
        y: 369.7418467091027
      positionAbsolute:
        x: 1390.7168320565427
        y: 369.7418467091027
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 72e8b6c6-5b7e-4586-aae0-8c580552ef9b
            value: 衣
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 04ddfbb8-5b72-4cab-b6db-502fdbc8a0cd
            value: 穿
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支
        type: if-else
      height: 150
      id: '1760976328627'
      position:
        x: 1015.6146565089387
        y: 282
      positionAbsolute:
        x: 1015.6146565089387
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17609757673560.text#}}{{#17609757531010.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 122
      id: '1760976603478'
      position:
        x: 1769.709165679258
        y: 327.9474980272741
      positionAbsolute:
        x: 1769.709165679258
        y: 327.9474980272741
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 119.65851143419809
      y: 169.3774636542076
      zoom: 0.5325205519930312
  rag_pipeline_variables: []
